# The image that will be used for the Chainlink nodes.
DEVSPACE_IMAGE=

# This is a comma separated list of CIDR blocks that will be allowed to access the ingress.
DEVSPACE_INGRESS_CIDRS=

# This is the base domain in AWS Route 53 that our ingress subdomains will use.
DEVSPACE_INGRESS_BASE_DOMAIN=

# This is the ARN of the AWS ACM certificate that will be used for the ingress.
DEVSPACE_INGRESS_CERT_ARN=

# Time to wait for pods to be in `Ready` condition
DEVSPACE_K8S_POD_WAIT_TIMEOUT=600s

# HELM repo URI for the crib-chainlink-cluster helm chart
CHAINLINK_CLUSTER_HELM_CHART_URI=

# The duration that the namespace and all of its associated resources will be kept alive.
NS_TTL=72h

##
# These are used by the shell script: cribbit.sh
##
AWS_REGION=
AWS_SSO_ROLE_NAME=
AWS_SSO_START_URL=
