# set the following if you don't want the test to tear down the docker containers after test run is finished
# TESTCONTAINERS_RYUK_DISABLED=true

E2E_JD_IMAGE=<job-distributor-image>
E2E_JD_VERSION=<job-distributor-version>

E2E_TEST_CHAINLINK_IMAGE=public.ecr.aws/w0i8p0z9/chainlink-ccip
E2E_TEST_CHAINLINK_VERSION=2.14.0-ccip1.5.0

E2E_RMN_RAGEPROXY_IMAGE=<rmn-proxy-image>
E2E_RMN_RAGEPROXY_VERSION=master-5208d09
E2E_RMN_AFN2PROXY_IMAGE=<rmn-afn2proxy-image>
E2E_RMN_AFN2PROXY_VERSION=master-5208d09


# RPC Configuration
E2E_TEST_SEPOLIA_WALLET_KEY=<sepolia-wallet-key>
E2E_TEST_SEPOLIA_RPC_HTTP_URL_1=<sepolia-rpc-http-url>
E2E_TEST_SEPOLIA_RPC_HTTP_URL_2=<sepolia-rpc-http-url>
E2E_TEST_SEPOLIA_RPC_WS_URL_1=<rpc-ws-url>
E2E_TEST_SEPOLIA_RPC_WS_URL_2=<rpc-ws-url>

E2E_TEST_AVALANCHE_FUJI_WALLET_KEY=<avalanche-wallet-key>
E2E_TEST_AVALANCHE_FUJI_RPC_HTTP_URL_1=<avalanche-rpc-http-url>
E2E_TEST_AVALANCHE_FUJI_RPC_HTTP_URL_2=<avalanche-rpc-http-url>
E2E_TEST_AVALANCHE_FUJI_RPC_WS_URL_1=<avalanche-rpc-ws-url>
E2E_TEST_AVALANCHE_FUJI_RPC_WS_URL_2=<avalanche-rpc-ws-url>

E2E_TEST_BSC_TESTNET_WALLET_KEY=<bsc-wallet-key>
E2E_TEST_BSC_TESTNET_RPC_HTTP_URL_1=<bsc-rpc-http-url>
E2E_TEST_BSC_TESTNET_RPC_HTTP_URL_2=<bsc-rpc-http-url>
E2E_TEST_BSC_TESTNET_RPC_WS_URL_1=<bsc-rpc-ws-url>
E2E_TEST_BSC_TESTNET_RPC_WS_URL_2=<bsc-rpc-ws-url>

