# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Root
* @smartcontractkit/foundations

# Chains
/common @smartcontractkit/bix-framework
/core/chains/ @smartcontractkit/bix-framework

# Services
/core/services/directrequest @smartcontractkit/foundations
/core/services/feeds @smartcontractkit/deployment-automation @eutopian @yevshev
/core/services/synchronization/telem @smartcontractkit/realtime
/core/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/core/capabilities/ccip @smartcontractkit/ccip-offchain

# To be deprecated in Chainlink V3
/core/services/fluxmonitorv2 @smartcontractkit/foundations
/core/services/job @smartcontractkit/foundations
/core/services/keystore @smartcontractkit/foundations
/core/services/ocr* @smartcontractkit/foundations
/core/services/periodicbackup @smartcontractkit/foundations
/core/services/pg @smartcontractkit/foundations @samsondav
/core/services/pipeline @smartcontractkit/foundations @smartcontractkit/bix-framework
/core/services/telemetry @smartcontractkit/realtime
/core/services/relay/evm/mercury @smartcontractkit/data-streams-engineers
/core/services/webhook @smartcontractkit/foundations @smartcontractkit/bix-framework
/core/services/llo @smartcontractkit/data-streams-engineers

# VRF-related services
/core/services/vrf @smartcontractkit/dev-services
/core/services/blockhashstore @smartcontractkit/dev-services
/core/services/blockheaderfeeder @smartcontractkit/dev-services
/core/services/pipeline/task.vrf.go @smartcontractkit/dev-services
/core/services/pipeline/task.vrfv2.go @smartcontractkit/dev-services
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/dev-services

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/dev-services
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/dev-services

# Chainlink Functions
core/services/functions @smartcontractkit/dev-services
core/services/ocr2/plugins/functions @smartcontractkit/dev-services
core/services/s4 @smartcontractkit/dev-services
core/service/ocr2/plugins/s4 @smartcontractkit/dev-services
core/services/ocr2/plugins/threshold @smartcontractkit/dev-services
core/services/relay/evm/functions @smartcontractkit/dev-services
core/services/relay/evm/functions @smartcontractkit/dev-services
core/scripts/functions @smartcontractkit/dev-services
core/scripts/gateway @smartcontractkit/dev-services

# Keystone
/core/services/registrysyncer @smartcontractkit/keystone
/core/services/workflows @smartcontractkit/keystone
/core/services/standardcapabilities @smartcontractkit/keystone
/core/scripts/keystone @smartcontractkit/keystone

# Contracts
/contracts/ @RensR @matYang @RayXpub @elatoskinas

# First we match on project names to catch files like the compilation scripts,
# gas snapshots and other files not places in the project directories.
# This could give some false positives, so afterwards we match on the project directories
# to ensure the entire directory is always owned by the correct team.

/contracts/**/*keeper* @smartcontractkit/dev-services
/contracts/**/*upkeep* @smartcontractkit/dev-services
/contracts/**/*automation* @smartcontractkit/dev-services
/contracts/**/*functions* @smartcontractkit/dev-services
/contracts/**/*llo-feeds* @smartcontractkit/data-streams-engineers
/contracts/**/*vrf* @smartcontractkit/dev-services
/contracts/**/*l2ep* @smartcontractkit/bix-ship
/contracts/**/*keystone* @smartcontractkit/keystone

/contracts/src/v0.8/automation @smartcontractkit/dev-services
/contracts/src/v0.8/functions @smartcontractkit/dev-services
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @smartcontractkit/bix-build
/contracts/src/v0.8/llo-feeds @smartcontractkit/data-streams-engineers
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @smartcontractkit/data-feeds-engineers
/contracts/src/v0.8/shared @RensR @matYang @RayXpub @elatoskinas
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @smartcontractkit/dev-services



# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @smartcontractkit/dev-services
# Remove changeset files from the codeowners
/contracts/.changeset


# Tests
/integration-tests/ @smartcontractkit/test-tooling-team
/integration-tests/ccip-tests @smartcontractkit/ccip-offchain
/integration-tests/**/*keeper* @smartcontractkit/dev-services
/integration-tests/**/*automation* @smartcontractkit/dev-services

# Deployment tooling
# Initially the common structures owned by CCIP
/integration-tests/deployment @smartcontractkit/ccip @smartcontractkit/keystone
/integration-tests/deployment/ccip @smartcontractkit/ccip
/integration-tests/deployment/keystone @smartcontractkit/keystone
# TODO: As more products add their deployment logic here, add the team as an owner

# CI/CD
/.github/** @smartcontractkit/releng @smartcontractkit/test-tooling-team
/.github/CODEOWNERS @smartcontractkit/prodsec-public @smartcontractkit/foundations
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team
/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/dev-services
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/dev-services
/.github/workflows/automation-load-tests.yml @smartcontractkit/dev-services
/.github/workflows/automation-nightly-tests.yml @smartcontractkit/dev-services

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
go.sum @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
integration-tests/go.mod @smartcontractkit/prodsec-public @smartcontractkit/test-tooling-team @smartcontractkit/foundations
integration-tests/go.sum @smartcontractkit/prodsec-public @smartcontractkit/test-tooling-team @smartcontractkit/foundations
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./docs/CONFIG.md @smartcontractkit/foundations @smartcontractkit/devrel
./internal/config/docs.toml @smartcontractkit/foundations @smartcontractkit/devrel
