**/.git
.git
!.git/HEAD
!.git/refs/heads
**/*_test.go

.git-together
.DS_Store
.envrc
tmp/
vendor/

internal/bin/
internal/ci/
internal/clroot/
internal/gethnet/

node_modules/
**/node_modules/

solidity/node_modules/
solidity/build/
solidity/.python-version
