.git-together
.git/objects/*
.DS_Store
.envrc
tmp/
*.log

node_modules/
**/node_modules/

solidity/node_modules/
solidity/build/
solidity/.python-version

internal/gethnet/datadir/geth
internal/clroot/db.bolt
internal/clroot/*.jsonl

sgx/target/

gui/dist/
web/web-packr.go

Dockerfile
chainlink

# codeship
codeship-*.yml
*.aes
dockercfg
credentials.env
gcr_creds.env
