.git-together
.DS_Store
.envrc
*.log
node_modules/
**/node_modules/
vendor/
tmp/

contracts/node_modules
examples/

deployment/
integration/
integration-scripts/
integration-tests/
system-tests/

tools/gethnet/datadir/geth
tools/clroot/db.bolt
tools/clroot/*.log
tools/clroot/tempkeys

core/sgx/target/

core/*.Dockerfile
chainlink

# codeship
codeship-*.yml
*.aes
dockercfg
credentials.env
gcr_creds.env

go.work
go.work.sum
