**/coverage/**
**/node_modules/**
**/generated/**
core/
**/dist/**
**/artifacts/**
**/public/**
**/build/**
**/fixtures/**
**/lib/**
evm-contracts/ethers
evm-contracts/truffle
truffle-config.js
truffle.js
gethload.js
craco.config.js
solc_bin/**
integration/apocalypse/**
