{
  "extends": [
    "prettier-standard",
    "plugin:react/recommended"
  ],

  "plugins": [
    "import",
    "prettier",
    "standard",
    "react"
  ],

  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },

  "parserOptions": {
    "ecmaVersion": 9
  },

  "globals": {
    "Promise": true,
    "sails": true,
    "_": true
  }
}
