# dependencies
node_modules/
tmp/
.pnp
.pnp.js
tools/bin/abigen

/chainlink
core/chainlink

# SQLite
tools/clroot/db.sqlite3-shm
tools/clroot/db.sqlite3-wal

# Tooling caches
*.tsbuildinfo
.eslintcache

# Log files
*.log

# misc
.DS_Store
.envrc
.env*
.dbenv
!crib/.env.example
!.github/actions/setup-postgres/.env
.direnv
.idea
.vscode/
*.iml
debug.env
*.txt
operator_ui/install

# codeship
*.aes
dockercfg
env
credentials.env
gcr_creds.env

# DB backups

cl_backup_*.tar.gz

# Test artifacts
core/cmd/TestClient_ImportExportP2PKeyBundle_test_key.json
output.txt
race.*
golangci-lint-output.txt
/golangci-lint/
.covdata

# DB state
./db/
.s.PGSQL.5432.lock

# can be left behind by tests
core/cmd/vrfkey1

# Integration Tests
integration-tests/**/logs/
tests-*.xml
*.test
tmp-manifest-*.yaml
ztarrepo.tar.gz
**/test-ledger/*
__debug_bin*
.test_summary/
.run.id
integration-tests/**/traces/
benchmark_report.csv
benchmark_summary.json

# goreleaser builds
cosign.*
dist/
MacOSX*

# Test & linter reports
*report.xml
*report.json
*.out

contracts/yarn.lock

# Ignore DevSpace cache and log folder
.devspace/
go.work*

# This sometimes shows up for some reason
tools/flakeytests/coverage.txt

# Fuzz tests can create these files
**/testdata/fuzz/*

# Runtime test configuration that might contain secrets
override*.toml

# Pythin venv
.venv/

ocr_soak_report.csv
/.github/tracing/tempo-data/blocks/single-tenant/0afc3e27-41f5-4efd-b659-ad20c068fe64/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/0afc3e27-41f5-4efd-b659-ad20c068fe64/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/0afc3e27-41f5-4efd-b659-ad20c068fe64/index
/.github/tracing/tempo-data/blocks/single-tenant/0afc3e27-41f5-4efd-b659-ad20c068fe64/meta.compacted.json
/.github/tracing/tempo-data/blocks/single-tenant/5aedb3aa-41ad-4e12-84a8-c64adbf73d40/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/5aedb3aa-41ad-4e12-84a8-c64adbf73d40/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/5aedb3aa-41ad-4e12-84a8-c64adbf73d40/index
/.github/tracing/tempo-data/blocks/single-tenant/5aedb3aa-41ad-4e12-84a8-c64adbf73d40/meta.compacted.json
/.github/tracing/tempo-data/blocks/single-tenant/5cd695ab-3f26-4a9a-9952-956de7408d85/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/5cd695ab-3f26-4a9a-9952-956de7408d85/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/5cd695ab-3f26-4a9a-9952-956de7408d85/index
/.github/tracing/tempo-data/blocks/single-tenant/5cd695ab-3f26-4a9a-9952-956de7408d85/meta.compacted.json
/.github/tracing/tempo-data/blocks/single-tenant/8c3a6a98-f7f9-4199-9d42-e5065a836274/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/8c3a6a98-f7f9-4199-9d42-e5065a836274/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/8c3a6a98-f7f9-4199-9d42-e5065a836274/index
/.github/tracing/tempo-data/blocks/single-tenant/8c3a6a98-f7f9-4199-9d42-e5065a836274/meta.compacted.json
/.github/tracing/tempo-data/blocks/single-tenant/44b39a1b-3af1-46c0-9804-259410ea4443/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/44b39a1b-3af1-46c0-9804-259410ea4443/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/44b39a1b-3af1-46c0-9804-259410ea4443/index
/.github/tracing/tempo-data/blocks/single-tenant/44b39a1b-3af1-46c0-9804-259410ea4443/meta.compacted.json
/.github/tracing/tempo-data/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/index
/.github/tracing/tempo-data/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/meta.json
/.github/tracing/tempo-data/blocks/single-tenant/272a145c-bb13-435b-9f54-1b6527dbad96/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/272a145c-bb13-435b-9f54-1b6527dbad96/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/272a145c-bb13-435b-9f54-1b6527dbad96/index
/.github/tracing/tempo-data/blocks/single-tenant/272a145c-bb13-435b-9f54-1b6527dbad96/meta.compacted.json
/.github/tracing/tempo-data/blocks/single-tenant/e1800a1c-09cf-47c5-8d99-455fc4bbcc43/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/e1800a1c-09cf-47c5-8d99-455fc4bbcc43/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/e1800a1c-09cf-47c5-8d99-455fc4bbcc43/index
/.github/tracing/tempo-data/blocks/single-tenant/e1800a1c-09cf-47c5-8d99-455fc4bbcc43/meta.json
/.github/tracing/tempo-data/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/bloom-0
/.github/tracing/tempo-data/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/data.parquet
/.github/tracing/tempo-data/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/index
/.github/tracing/tempo-data/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/meta.json
/.github/tracing/tempo-data/blocks/single-tenant/index.json.gz
/.github/tracing/tempo-data/blocks/tempo_cluster_seed.json
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000001
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000002
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000003
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000004
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000005
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000006
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000007
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000008
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000009
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000010
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000011
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000012
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000013
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000014
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000015
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000016
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000017
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000018
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000019
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000020
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000021
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000022
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/0000000023
/.github/tracing/tempo-data/wal/47bfb7b3-d572-4987-bfd5-cf0e3ab94360+single-tenant+vParquet3/meta.json
/.github/tracing/tempo-data/wal/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/bloom-0
/.github/tracing/tempo-data/wal/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/data.parquet
/.github/tracing/tempo-data/wal/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/flushed
/.github/tracing/tempo-data/wal/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/index
/.github/tracing/tempo-data/wal/blocks/single-tenant/75b33a5a-ee62-4866-a288-20522ee2c3ed/meta.json
/.github/tracing/tempo-data/wal/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/bloom-0
/.github/tracing/tempo-data/wal/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/data.parquet
/.github/tracing/tempo-data/wal/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/flushed
/.github/tracing/tempo-data/wal/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/index
/.github/tracing/tempo-data/wal/blocks/single-tenant/fd0b6e1c-b674-46d4-870e-ccb13c1a8fa1/meta.json
/core/services/service_test.go
