# dependencies
node_modules/
vendor/
.vendor-new/
tmp/

/chainlink
core/chainlink

# GUI
gui/dist
gui/artifacts
*-packr.go

# SQLite
tools/clroot/db.sqlite3-shm
tools/clroot/db.sqlite3-wal

# Log files
*.log

# misc
.envrc

# codeship
*.aes
dockercfg
env
credentials.env
gcr_creds.env

coverage/
