**/node_modules/**
**/generated/**
core/
**/dist/**
**/artifacts/**
**/public/**
**/build/**
truffle-config.js
truffle.js
gethload.js
craco.config.js
.yarn

contracts/coverage
contracts/abi
contracts/artifacts
contracts/cache
contracts/node_modules
contracts/solc
contracts/LinkToken.json
contracts/typechain
contracts/src/v0.4
contracts/src/v0.5
contracts/src/v0.6
contracts/**/vendor

# Ignore TS definition and map files
**/**.d.ts
**/**.d.ts.map

docs/
venv/

*.md
.github/**/*.yml
.golangci.yml
contracts/.solhint.json
