**/node_modules/**
**/generated/**
core/
**/dist/**
**/artifacts/**
**/public/**
**/build/**
truffle-config.js
truffle.js
gethload.js
craco.config.js
.yarn

# Ignore TS definition and map files
**/**.d.ts
**/**.d.ts.map

docs/
venv/

*.md
.github/workflows/*.yml
