sudo: required

env:
  global:
    - DEP_VERSION="0.4.1"

matrix:
  include:
    - language: go
      go: "1.10"
      env: COMMAND=./internal/ci/go_test
    - language: go
      go: "1.10"
      env: COMMAND=./internal/ci/truffle_test
    - language: go
      go: "1.10"
      env: COMMAND=./internal/ci/ethereum_test
    - language: go
      go: "1.10"
      env: COMMAND=./internal/ci/gui_test

before_install:
  # Go dependency manager dep
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  - go get -u github.com/haya14busa/goverage
  # Yarn
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

install: ./internal/ci/install_dependencies

script:
  - bash $COMMAND

after_script:
    - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
