ETH_URL=$ETH_URL
ETH_CHAIN_ID=$ETH_CHAIN_ID
LINK_CONTRACT_ADDRESS=$LINK_CONTRACT_ADDRESS
DATABASE_URL=postgresql://$USERNAME:$PASSWORD@$SERVER:$PORT/$DATABASE

LOG_LEVEL=debug
MIN_OUTGOING_CONFIRMATIONS=2
CHAINLINK_TLS_PORT=0
SECURE_COOKIES=false
GAS_UPDATER_ENABLED=true
ALLOW_ORIGINS=*