[Logging]
test_log_collect=false

[Logging.LogStream]
log_targets=["file"]
log_producer_timeout="10s"
log_producer_retry_limit=10

[Network]
selected_networks=["simulated"]

[PrivateEthereumNetwork]
consensus_type="pos"
consensus_layer="prysm"
execution_layer="geth"
wait_for_finalization=false

[PrivateEthereumNetwork.EthereumChainConfig]
seconds_per_slot=12
slots_per_epoch=6
genesis_delay=15
validator_count=8
chain_id=1337
addresses_to_fund=["0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"]