[Logging]
test_log_collect=false

[Logging.LogStream]
log_targets=["file"]
log_producer_timeout="10s"
log_producer_retry_limit=10

[Network]
selected_networks=["simulated"]

[PrivateEthereumNetwork]
consensus_type="pow"
execution_layer="geth"

[PrivateEthereumNetwork.EthereumChainConfig]
chain_id=1337