type = "bootstrap"
schemaVersion = 1
name = "{{ .JobName }}"
externalJobID = "{{ .ExternalJobID }}"
contractID = "{{ .ContractID }}"
contractConfigTrackerPollInterval = "1s"
contractConfigConfirmations = 1
relay = "evm"

[relayConfig]
chainID = {{ .ChainID }}
providerType = "ocr3-capability"
