.network-graph-info__wrapper {
  position: absolute;
}

.network-graph-info {
  margin-bottom: 30px;
}

.network-graph-info__label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #848484;
}

.network-graph-info__value {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
}
