version: 2.1
jobs:
  core-go-test:
    resource_class: xlarge
    docker:
      - image: smartcontract/builder:1.0.36
      - image: circleci/postgres:11-alpine
        environment:
          POSTGRES_USER: circleci_postgres
          POSTGRES_DB: circleci_test
    environment:
      DATABASE_URL: postgres://circleci_postgres@localhost:5432/circleci_test?sslmode=disable
    steps:
      - checkout
      - run: echo $CACHE_VERSION > cache.version
      - restore_cache:
          name: Restore Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
      - run: make yarndep
      - save_cache:
          name: Save Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
          paths:
            - /usr/local/share/.cache/yarn
      - restore_cache:
          name: Restore Go Vendor Cache
          key: go-mod-{{ checksum "go.sum" }}
      - run: go mod download
      - save_cache:
          name: Save Go Vendor Cache
          key: go-mod-{{ checksum "go.sum" }}
          paths:
            - '/go/pkg/mod'
      - run: yarn setup:contracts
      - run: go run ./core local db preparetest
      - run: |
          set -o pipefail
          set +e
          go test -v -p 4 -parallel 4 ./... > ./output.txt
          EXITCODE=$?
          cat ./output.txt | grep "\-\-\- FAIL"
          echo "Exit code: $EXITCODE"
          if [[ $EXITCODE == 0 ]]; then
              echo "All tests passed!"
          else
              echo "Encountered test failures. Please see the output.txt artifact for details."
          fi
          exit $EXITCODE
      - store_artifacts:
          path: ./output.txt
  solidity:
    resource_class: xlarge
    docker:
      - image: smartcontract/builder:1.0.36
    steps:
      - checkout
      - run: echo $CACHE_VERSION > cache.version
      - restore_cache:
          name: Restore Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
      - run: make yarndep
      - save_cache:
          name: Save Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
          paths:
            - /usr/local/share/.cache/yarn
      - run: ./tools/ci/solidity_test
      - store_artifacts:
          path: ./integration/logs
  operator-ui:
    resource_class: xlarge
    docker:
      - image: smartcontract/builder:1.0.36
    steps:
      - checkout
      - run: echo $CACHE_VERSION > cache.version
      - restore_cache:
          name: Restore Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
      - run: make yarndep
      - save_cache:
          name: Save Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
          paths:
            - /usr/local/share/.cache/yarn
      - run: ./tools/ci/init_gcloud
      - run: ./tools/ci/operator_ui_test
      - store_artifacts:
          path: ./integration/logs
  forks:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    working_directory: ~/chainlink
    steps:
      - checkout
      - run:
          name: Install Yarn
          command: npm install -g yarn
      - run:
          name: Install New Packages
          command: make yarndep
      - run: ./tools/ci/forks_test
      - store_artifacts:
          path: ./integration/forks/logs
  build-publish-chainlink:
    resource_class: large
    machine:
      image: circleci/classic:201808-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Docker Hub login
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin
      - run:
          name: Docker build
          command: |
            DOCKER_TAG=circleci make docker
      - setup-aws-ecr
      - run:
          name: Docker push, if applicable
          command: |
            tools/ci/push_chainlink "${CIRCLE_BRANCH}" "${CIRCLE_TAG}" "${CIRCLE_SHA1}"
  build-publish-integration:
    resource_class: large
    machine:
      image: circleci/classic:201808-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Docker login
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin
      - run:
          name: Docker build
          command: docker build -f tools/docker/integration.Dockerfile --build-arg SRCROOT=/chainlink -t smartcontract/test-integration:circleci .
      - run:
          name: Docker push, if applicable
          command: |
            tools/ci/push_image "${CIRCLE_BRANCH}" "${CIRCLE_TAG}" test-integration

  build-publish-ts-integration:
    resource_class: large
    machine:
      image: circleci/classic:201808-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Docker login
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin
      - run:
          name: Docker build
          command: docker build -f tools/docker/ts-integration.Dockerfile --build-arg SRCROOT=/chainlink -t smartcontract/test-ts-integration:circleci .
      - run:
          name: Docker push, if applicable
          command: |
            tools/ci/push_image "${CIRCLE_BRANCH}" "${CIRCLE_TAG}" test-ts-integration
  build-publish-cypress-job-server:
    resource_class: large
    machine:
      image: circleci/classic:201808-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Docker login
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin
      - run:
          name: Docker build
          command: docker build -f tools/cypress-job-server/Dockerfile --build-arg SRCROOT=/chainlink -t smartcontract/test-cypress-job-server:circleci .
      - run:
          name: Docker push, if applicable
          command: |
            tools/ci/push_image "${CIRCLE_BRANCH}" "${CIRCLE_TAG}" test-cypress-job-server
  build-publish-echo-server:
    resource_class: large
    machine:
      image: circleci/classic:201808-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Docker login
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin
      - run:
          name: Docker build
          command: docker build -f tools/echo-server/Dockerfile --build-arg SRCROOT=/chainlink -t smartcontract/test-echo-server:circleci .
      - run:
          name: Docker push, if applicable
          command: |
            tools/ci/push_image "${CIRCLE_BRANCH}" "${CIRCLE_TAG}" test-echo-server
  build-publish-external-adapter:
    resource_class: large
    machine:
      image: circleci/classic:201808-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Docker login
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin
      - run:
          name: Docker build
          command: docker build -f tools/external-adapter/Dockerfile -t smartcontract/test-external-adapter:circleci .
      - run:
          name: Docker push, if applicable
          command: |
            tools/ci/push_image "${CIRCLE_BRANCH}" "${CIRCLE_TAG}" test-external-adapter
  reportcoverage:
    docker:
      - image: smartcontract/builder:1.0.36
    steps:
      - checkout
      - run: ./tools/ci/init_gcloud
      - run: ./tools/ci/report_coverage
  check_if_rebase_needed:
    resource_class: small
    working_directory: ~/chainlink
    docker:
      - image: alpine/git
    steps:
      - checkout
      - run: tools/bin/check_if_rebase_needed
  lint:
    resource_class: large
    working_directory: ~/chainlink
    docker:
      - image: smartcontract/builder:1.0.36
    steps:
      - checkout
      - run: echo $CACHE_VERSION > cache.version
      - restore_cache:
          name: Restore Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
      - run: make yarndep
      - run: yarn lint
      - save_cache:
          name: Save Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
          paths:
            - /usr/local/share/.cache/yarn
  prepublish_npm:
    resource_class: xlarge
    docker:
      - image: smartcontract/builder:1.0.36
    environment:
      NODE_OPTIONS: --max_old_space_size=512
    steps:
      - checkout
      - run: echo $CACHE_VERSION > cache.version
      - restore_cache:
          name: Restore Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
      - run: make yarndep
      - save_cache:
          name: Save Yarn Package Cache
          key: v{{ checksum "cache.version" }}-yarn-vendor-{{ checksum "yarn.lock" }}
          paths:
            - /usr/local/share/.cache/yarn
      - run: ./tools/ci/prepublish_npm_test

workflows:
  version: 2
  test:
    jobs:
      - core-go-test:
          filters:
            tags:
              only: /^v.*/
      - solidity:
          filters:
            tags:
              only: /^v.*/
      - operator-ui:
          filters:
            tags:
              only: /^v.*/
      - build-publish-chainlink:
          requires:
            - core-go-test
            - operator-ui
          filters:
            tags:
              only: /^v.*/
      - build-publish-integration:
          filters:
            tags:
              only: /^v.*/
      - build-publish-ts-integration:
          filters:
            tags:
              only: /^v.*/
      - build-publish-cypress-job-server:
          filters:
            tags:
              only: /^v.*/
      - build-publish-echo-server:
          filters:
            tags:
              only: /^v.*/
      - build-publish-external-adapter:
          filters:
            tags:
              only: /^v.*/
      - reportcoverage:
          requires:
            - core-go-test
            - solidity
            - operator-ui
          filters:
            tags:
              ignore:
                - /^v.*/
                - /^explorer-v.*/
            branches:
              ignore:
                - develop
                - /^release\/.*/
                - master
                - /^hotfix\/.*/
commands:
  setup-aws-ecr:
    description: 'Install aws cli and log docker in ECR'
    steps:
      - run:
          name: Install AWS CLI
          command: |
            curl -sSL "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
            rm awscliv2.zip
            aws --version
      - run:
          name: Docker login for ECR using temporary creds
          command: |
            # Get temporary credentials to access resoures available to specific role
            temporaryCredentials=$(
              aws sts assume-role \
                --role-arn "${AWS_ROLE_TO_ASSUME}" \
                --role-session-name "cirlceci-${CIRCLE_PROJECT_REPONAME}-${CIRCLE_TAG}"
            )
            # Deconstruct json response, extracting aws credentials
            accessKeyID=$(echo $temporaryCredentials | jq .Credentials.AccessKeyId | xargs)
            secretAccessKey=$(echo $temporaryCredentials | jq .Credentials.SecretAccessKey | xargs)
            sessionToken=$(echo $temporaryCredentials | jq .Credentials.SessionToken | xargs)
            # Store aws creds in .aws folder
            aws configure set aws_access_key_id ${accessKeyID}
            aws configure set aws_secret_access_key ${secretAccessKey}
            aws configure set aws_session_token ${sessionToken}
            # Use temporary keys to get account ID
            accountID=$(aws sts get-caller-identity --output text --query 'Account')
            # docker cli login to ECR
            aws ecr get-login-password --region "${AWS_REGION}" --profile "default" | docker login --username AWS --password-stdin "${accountID}.dkr.ecr.us-west-2.amazonaws.com/chainlink"
