apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ $.Release.Name }}-node
spec:
  podSelector:
    matchLabels:
      app: {{ $.Release.Name }}
  policyTypes:
    - Ingress
  ingress:
    # Allow all ingress traffic between the node pods and from runner pod.
    - from:
      - podSelector:
          matchLabels:
            app: {{ $.Release.Name }}
      - podSelector:
          matchLabels:
            app: runner
