.answer-history {
  margin: 60px 0;
}

.answer-history-header {
  font-weight: 200;
  top: 20px;
  position: relative;
}

.answer-history-graph--timestamp,
.answer-history-graph--price {
  font-size: 12px;
  font-weight: 200;
}
