{
  "globals": {
    "assert": "readonly",
    "artifacts": "readonly",
    "before": "readonly",
    "context": "readonly",
    "contract": "readonly",
    "describe": "readonly",
    "web3": "readonly"
  }
}
