NODE_URL=<NODE ADDRESS>
CHAIN_ID=<CHAIN ID>
PRIVATE_KEY=<HEX PRIVATE KEY>
LINK_TOKEN_ADDR=<LINK TOKEN ADDR>
KEEPERS=<COMMA SEPARATED CHAINLINK NODE ADDR>
GAS_LIMIT=<TX GAS LIMIT>

# Keeper registry config
LINK_ETH_FEED=
FAST_GAS_FEED=
# optional only provide KEEPER_REGISTRY_ADDRESS if using an existing registry address
KEEPER_REGISTRY_ADDRESS=
# set KEEPER_CONFIG_UPDATE to true if providing KEEPER_REGISTRY_ADDRESS and want the config fields updated
KEEPER_CONFIG_UPDATE=
PAYMENT_PREMIUM_PBB=
FLAT_FEE_MICRO_LINK=
BLOCK_COUNT_PER_TURN=
CHECK_GAS_LIMIT=
STALENESS_SECONDS=
GAS_CEILING_MULTIPLIER=
FALLBACK_GAS_PRICE=
FALLBACK_LINK_PRICE=

# Upkeep config
UPKEEP_TEST_RANGE=1
UPKEEP_AVERAGE_ELIGIBILITY_CADENCE=1
UPKEEP_CHECK_DATA=0x00
UPKEEP_GAS_LIMIT=
#set to zero to just bring up a new registry
UPKEEP_COUNT=5
#upkeep funding in gwei
APPROVE_AMOUNT=1000000000000000000
ADD_FUNDS_AMOUNT=1000000000000000000
