# [Mandatory] http url of the archival node for your network
NODE_URL=<Https RPC Archival Node Addr>
# [Mandatory] address of the KeeperRegistry contract for your upkeep
KEEPER_REGISTRY_ADDRESS=<Registry Address>

# [Optional] it is strongly recommended (not mandatory) to use tenderly for more debugging info
#TENDERLY_KEY=<Tenderly Key>
#TENDERLY_ACCOUNT_NAME=<Tenderly Account Name>
#TENDERLY_PROJECT_NAME=<Tenderly Project Name>

# [Optional] add data streams (https://docs.chain.link/data-streams) info only if your upkeep uses data streams
#DATA_STREAMS_ID=<DATA STREAMS ID>
#DATA_STREAMS_KEY=<DATA STREAMS Key>
#DATA_STREAMS_URL=<DATA STREAMS Server URL FOR THIS NETWORK>
#DATA_STREAMS_LEGACY_URL=<DATA STREAMS Legacy URL (v0.2 only) FOR THIS NETWORK>