# example config for the polygon mumbai test network (chain ID 80001)
# you should only need to set the following additional variables:
#
# KEEPER_REGISTRY_ADDRESS (KeeperRegistry2.0 address from the registry deploy command, looks like 0x882aa211f11Eb0Bcce5010e11B330E58D17Eaadd)
# BOOTSTRAP_NODE_ADDR (p2p address from the bootstrap command, looks like: 12D3KaaWMN7bbT3haaRG4QwWSUj229HA7THRMQYAouN117q9pcJx@bootstrap:8000
# PRIVATE_KEY (exported private key from your wallet)
# NODE_URL (wss url of your polygon mumbai testnet node endpoint)
# NODE_HTTP_URL (http url of your polygon mumbai testnet node endpoint)

KEEPER_REGISTRY_ADDRESS=<registry-address-from-first-step>
BOOTSTRAP_NODE_ADDR=<bootstrap-node-addr-from-second-step>

PRIVATE_KEY=<wallet-private-key>
# EXPLORER_API_KEY and NETWORK_NAME are used for contract verification, ignore them if you don't need it
EXPLORER_API_KEY=<explorer-api-key>
NETWORK_NAME=<network-name>

NODE_URL=<wss-rpc-node-addr>
NODE_HTTP_URL=<https-rpc-node-addr>
CHAIN_ID=80001
LINK_TOKEN_ADDR=0x326C977E6efc84E512bB9C30f76E30c160eD06FB
LINK_ETH_FEED=0x12162c3E810393dEC01362aBf156D7ecf6159528
FAST_GAS_FEED=0x095BF5DBE28535B9eAC32f1ECd6784ef1c15d756

FUND_CHAINLINK_NODE=1000000000000000000 # 1 ETH
CHAINLINK_DOCKER_IMAGE=chainlink:local
PAYMENT_PREMIUM_PBB=200000000
FLAT_FEE_MICRO_LINK=1
CHECK_GAS_LIMIT=5000000
STALENESS_SECONDS=90000
GAS_CEILING_MULTIPLIER=2
MIN_UPKEEP_SPEND=0
MAX_PERFORM_GAS=5000000
MAX_CHECK_DATA_SIZE=5000
MAX_PERFORM_DATA_SIZE=5000
FALLBACK_GAS_PRICE=2000000000
FALLBACK_LINK_PRICE=1684210526315790
TRANSCODER=0x0000000000000000000000000000000000000000
KEEPER_OCR2=true
KEEPER_REGISTRY_VERSION=4
KEEPERS_COUNT=4
UPKEEP_TEST_RANGE=100000
UPKEEP_INTERVAL=3
UPKEEP_COUNT=1
UPKEEP_GAS_LIMIT=5000000
UPKEEP_MERCURY=true
UPKEEP_ADD_FUNDS_AMOUNT=10000000000000000000 # 10 LINK

# UPKEEP_TYPE is used to select if we should deploy a conditional, log trigger, mercury, etc upkeep.
# See chainlink/core/scripts/chaincli/config/config.go. Example usage:
# UPKEEP_TYPE=0 # for conditional
# UPKEEP_TYPE=1 # for mercury
# UPKEEP_TYPE=2 # for log trigger
# UPKEEP_TYPE=3 # for log triggered feed lookup

