NODE_URL=<NODE ADDRESS>
CHAIN_ID=<CHAIN ID>
PRIVATE_KEY=<HEX PRIVATE KEY>
LINK_TOKEN_ADDR=<LINK TOKEN ADDR>
KEEPERS=<COMMA SEPARATED CHAINLINK NODE ADDR>
APPROVE_AMOUNT=<CONTRACT LINK APPROVE AMOUNT>
GAS_LIMIT=<TX GAS LIMIT>
FUND_CHAINLINK_NODE=<FUND NODE AMOUNT IN ETH>
# Keeper Node Info for create Job Spec on existing nodes
KEEPER_URLS=<COMMA SEPARATED CHAINLINK NODE URLS>
KEEPER_EMAILS=<EMAILS USED TO LOGIN TO NODE UI>
KEEPER_PASSWORDS=<COMMA SEPARATED PASSWORDS FOR NODE UI ENCLOSE ENTIRE LIST IN SINGLE QUOTES FOR SPECIAL CHARACTERS>

# Keeper registry config
LINK_ETH_FEED=<IMMUTABLE>
FAST_GAS_FEED=<IMMUTABLE>
PAYMENT_PREMIUM_PBB=
FLAT_FEE_MICRO_LINK=
BLOCK_COUNT_PER_TURN=
CHECK_GAS_LIMIT=
STALENESS_SECONDS=
GAS_CEILING_MULTIPLIER=
FALLBACK_GAS_PRICE=
FALLBACK_LINK_PRICE=
MUST_TAKE_TURNS=<default true. false allows same node to perform upkeep in a row>

# Optional Keepers config
KEEPER_REGISTRY_ADDRESS=<only provide KEEPER_REGISTRY_ADDRESS if using an existing registry address>
KEEPER_CONFIG_UPDATE=<set KEEPER_CONFIG_UPDATE to true if providing KEEPER_REGISTRY_ADDRESS and want the config fields updated>
# local node creation via docker: number of chainlink nodes with keeper job to run, min 2
KEEPERS_COUNT=2

# UpKeep Config
UPKEEP_TEST_RANGE=1
UPKEEP_INTERVAL=10 # this will deploy UpkeepCounter, defaults to 10.
UPKEEP_AVERAGE_ELIGIBILITY_CADENCE=1 # this will deploy UpkeepPerformCounterRestrictive
UPKEEP_CHECK_DATA=0x00
UPKEEP_GAS_LIMIT=
UPKEEP_COUNT=5
UPKEEP_ADD_FUNDS_AMOUNT=

# Price Feeds config
FEED_BASE_ADDR= # LINK/USD
FEED_QUOTE_ADDR= # ETH(AVAX,FMT,BNB,etc)/USD
FEED_DECIMALS= # 18
