ChainID = '43114'
FinalityDepth = 10
LinkContractAddress = '0x5947BB275c521040051D82396192181b413227A3'
LogPollInterval = '3s'
MinIncomingConfirmations = 1
NoNewHeadsThreshold = '30s'
OCR.ContractConfirmations = 1
RPCBlockQueryDelay = 2

[GasEstimator]
PriceDefault = '25 gwei'
PriceMax = '115792089237316195423570985008687907853269984665.640564039457584007913129639935 tether'
PriceMin = '25 gwei'

[GasEstimator.BlockHistory]
# Average block time of 2s
BlockHistorySize = 24
