version: v2beta1
name: chainlink

vars:
  NS_TTL: 72h
  DEVSPACE_IMAGE:
    noCache: true
    source: env
  # This is the base domain in AWS Route 53 that our ingress subdomains will use.
  DEVSPACE_INGRESS_BASE_DOMAIN:
    source: env
  # This is the ARN of the AWS ACM certificate that will be used for the ingress.
  DEVSPACE_INGRESS_CERT_ARN:
    source: env
  # This is a comma separated list of CIDR blocks that will be allowed to access the ingress.
  DEVSPACE_INGRESS_CIDRS:
    source: env
  # Time to wait for pods to be in `Ready` condition
  DEVSPACE_K8S_POD_WAIT_TIMEOUT: 600s
  # Image URI required for deploying CCIP Contracts and Jobs
  DEVSPACE_CCIP_SCRIPTS_IMAGE:
    source: env

# This is a list of `pipelines` that DevSpace can execute (you can define your own)
pipelines:
  dev:
    # We don't need a rollout here and image haven't been really changed,
    # may not deserve to be commited, so we are just rebooting the app pods
    run: |-
      devspace run-pipeline deploy
      kubectl get pods -n ${DEVSPACE_NAMESPACE} --no-headers=true | grep '^app-node-' | awk '{print $1}' | xargs kubectl delete pod -n ${DEVSPACE_NAMESPACE}
      kubectl wait pods -n ${DEVSPACE_NAMESPACE} --selector=app=app --for=condition=Ready --timeout=${DEVSPACE_K8S_POD_WAIT_TIMEOUT}
  # You can run this pipeline via `devspace deploy` (or `devspace run-pipeline deploy`)
  deploy:
    run: |-
      set -o pipefail
      echo "Removing .devspace cache!"
      rm -rf .devspace/ || true
      registry_id=$(echo "$DEVSPACE_IMAGE" | cut -d'.' -f1)

      # Login into registry
      echo "Authorizing into ECR registry"
      aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin ${registry_id}.dkr.ecr.us-west-2.amazonaws.com

      run_dependencies --all
      ensure_pull_secrets --all
      
      build_images --all
      
      kubectl label namespace ${DEVSPACE_NAMESPACE} cleanup.kyverno.io/ttl=${NS_TTL} || true
      kubectl label namespace/${DEVSPACE_NAMESPACE} network=crib || true

      tag=$(git rev-parse --short HEAD)
      image=${DEVSPACE_IMAGE}:$tag
      echo "Checking tag: '$tag'"
      repository_name="chainlink-devspace"
      desired_tag=$tag

      # Check if the desired tag is present in the repository
      image_list=$(aws ecr list-images --repository-name "$repository_name")
      tag_exists=$(echo "$image_list" | jq -e '.imageIds[] | select(.imageTag == "'"${desired_tag}"'")' >/dev/null && echo true || echo false)

      # Check the value of the tag_exists variable
      if [ "$tag_exists" = "true" ]; then
        echo "Image tag '$tag' found."
      else
        echo "Image tag '$tag' not found. Please build the image using 'devspace deploy'"
        exit 1
      fi
      create_deployments app \
      --set=helm.values.chainlink.nodes[0].image=$image \
      --set=helm.values.chainlink.nodes[1].image=$image \
      --set=helm.values.chainlink.nodes[2].image=$image \
      --set=helm.values.chainlink.nodes[3].image=$image \
      --set=helm.values.chainlink.nodes[4].image=$image \
      --set=helm.values.chainlink.nodes[5].image=$image
      
      echo
      echo "Namespace ${DEVSPACE_NAMESPACE} will be deleted in ${NS_TTL}"
      echo "To extend the TTL for e.g. 72 hours, run: devspace run ttl ${DEVSPACE_NAMESPACE} 72h"

      echo
      echo "############################################"
      echo "Ingress Domains"
      echo "############################################"
      ingress_names="node1 node2 node3 node4 node5 node6 geth-1337-http geth-1337-ws geth-2337-http geth-2337-ws"
      for ingress in ${ingress_names}; do
        echo "https://${DEVSPACE_NAMESPACE}-${ingress}.${DEVSPACE_INGRESS_BASE_DOMAIN}"
      done

  purge:
    run: |-
      kubectl delete ns ${DEVSPACE_NAMESPACE}

commands:
  connect: |-
    sudo kubefwd svc -n $1
  ttl: |-
    kubectl label namespace $1 cleanup.kyverno.io/ttl=$2 --overwrite

images:
  app:
    image: ${DEVSPACE_IMAGE}
    tags:
      - $(git rev-parse --short HEAD)
    custom:
      skipImageArg: true
      command: |-
        TOPLEVEL=$(git rev-parse --show-toplevel)
        pushd $TOPLEVEL
        pwd
        goreleaser --version
        MACOS_SDK_DIR=$(pwd)/tools/bin/MacOSX12.3.sdk ./tools/bin/goreleaser_wrapper release --snapshot --clean --config .goreleaser.devspace.yaml
        popd
        BUILT_IMAGE=$(cat $TOPLEVEL/dist/artifacts.json | jq -r '.[] | select(.type == "Docker Image" and .goarch == "amd64" and (.name | contains("sha")) and ( .name | contains("root") | not) ) | .name')

        echo "Tagging and pushing image"
        tag=$(git rev-parse --short HEAD)
        TAGGED_IMAGE=${DEVSPACE_IMAGE}:$tag
        docker tag $BUILT_IMAGE ${runtime.images.app.image}:${runtime.images.app.tag}
        echo "Tagged image: $TAGGED_IMAGE"
        docker push $TAGGED_IMAGE
hooks:
  - wait:
      running: true
      terminatedWithCode: 0
      timeout: 600
    container:
      labelSelector:
        # vars don't work here, = releaseName
        release: "app"
    events: ["after:deploy:app"]
    name: "wait-for-pod-hook"

# This is a list of `deployments` that DevSpace can create for this project
deployments:
  app:
    namespace: ${DEVSPACE_NAMESPACE}
    helm:
      releaseName: "app"
      upgradeArgs: ["--timeout", "10m"]
      displayOutput: true
      chart:
        name: cl-cluster
        path: .
      # for simplicity, we define all the values here
      # they can be defined the same way in values.yml
      # devspace merges these "values" with the "values.yaml" before deploy
      values:
        podSecurityContext:
          fsGroup: 999

        chainlink:
          securityContext:
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            runAsUser: 14933
            runAsGroup: 999
          web_port: 6688
          p2p_port: 6690
          nodes:
            - name: node-1
              image: ${DEVSPACE_IMAGE}
            - name: node-2
              image: ${DEVSPACE_IMAGE}
            - name: node-3
              image: ${DEVSPACE_IMAGE}
            - name: node-4
              image: ${DEVSPACE_IMAGE}
            - name: node-5
              image: ${DEVSPACE_IMAGE}
            - name: node-6
              image: ${DEVSPACE_IMAGE}
        # each CL node have a dedicated PostgreSQL 11.15
        # use StatefulSet by setting:
        #
        # stateful: true
        # capacity 10Gi
        #
        # if you are running long tests
        db:
          stateful: false
        # default cluster shipped with latest Geth ( dev mode by default )
        geth:
        ccip:
          deployContractsAndJobs: true
          ccipScriptsImage: ${DEVSPACE_CCIP_SCRIPTS_IMAGE}
        # mockserver is https://www.mock-server.com/where/kubernetes.html
        # used to stub External Adapters
        mockserver:
          #  image: "mockserver/mockserver"
          #  version: "mockserver-5.15.0"

        # These ingresses create AWS ALB resources and Route 53 Records.
        ingress:
          enabled: true
          baseDomain: ${DEVSPACE_INGRESS_BASE_DOMAIN}
          annotation_certificate_arn: ${DEVSPACE_INGRESS_CERT_ARN}
          annotation_group_name: ${DEVSPACE_NAMESPACE}
          hosts:
            - host: ${DEVSPACE_NAMESPACE}-node1.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: app-node-1
                        port:
                          number: 6688
            - host: ${DEVSPACE_NAMESPACE}-node2.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: app-node-2
                        port:
                          number: 6688
            - host: ${DEVSPACE_NAMESPACE}-node3.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: app-node-3
                        port:
                          number: 6688
            - host: ${DEVSPACE_NAMESPACE}-node4.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: app-node-4
                        port:
                          number: 6688
            - host: ${DEVSPACE_NAMESPACE}-node5.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: app-node-5
                        port:
                          number: 6688
            - host: ${DEVSPACE_NAMESPACE}-node6.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: app-node-6
                        port:
                          number: 6688
            - host: ${DEVSPACE_NAMESPACE}-geth-1337-http.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: geth-1337
                        port:
                          number: 8544
            - host: ${DEVSPACE_NAMESPACE}-geth-1337-ws.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: geth-1337
                        port:
                          number: 8546
            - host: ${DEVSPACE_NAMESPACE}-geth-2337-http.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: geth-2337
                        port:
                          number: 8544
            - host: ${DEVSPACE_NAMESPACE}-geth-2337-ws.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: geth-2337
                        port:
                          number: 8546
            - host: ${DEVSPACE_NAMESPACE}-mockserver.${DEVSPACE_INGRESS_BASE_DOMAIN}
              http:
                paths:
                  - path: /
                    backend:
                      service:
                        name: mockserver
                        port:
                          number: 1080
        networkPolicyDefault:
          ingress:
            allowCustomCidrs: true
            # Should be a comma separated list of CIDR blocks. To include
            # AWS ALB private CIDRs and optionally other custom CIDRs.
            # Example format: 10.0.0.0/16,192.168.0.1/24
            customCidrs: ${DEVSPACE_INGRESS_CIDRS}
        # deployment placement, standard helm stuff
        podAnnotations:
        nodeSelector:
        tolerations:
        affinity:
