.network-graph {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.network-graph__tooltip {
  position: absolute;
  padding: 15px 20px;
  background: white;
  border: 1px solid #ececec;
  pointer-events: none;
  min-width: 120px;
  color: #2d2a2b;
}

.network-graph__tooltip--type {
  text-transform: capitalize;
  color: #939598;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bcbec0;
  font-size: 14px;
}

.network-graph__tooltip--oracle {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.network-graph__tooltip--oracle-details {
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.5;
}

.network-graph__oracle-name {
  font-size: 12px;
}

.network-graph__oracle-price {
  font-size: 12px;
}

.network-graph__contract-price {
  font-size: 12px;
}

@keyframes dash-animation {
  to {
    stroke-dashoffset: 1000;
  }
}

.network-graph__line-wait {
  animation: dash-animation 20s infinite linear;
  stroke-dasharray: 1, 8;
  stroke-width: 2;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke: #a0a0a0;
}

.network-graph__line-success {
  stroke: #bdbdbd;
  stroke-width: 1;
}

.network-graph__node-group .oracle:hover {
  fill: #2a59da;
  stroke: #2a59da;
}
