**/node_modules/**
**/generated/**
core/
**/dist/**
**/artifacts/**
**/public/**
**/build/**
truffle-config.js
truffle.js
gethload.js

pnpm-lock.yaml
coverage
abi
artifacts
foundry-artifacts
foundry-cache
foundry-lib
cache
node_modules
solc
LinkToken.json
typechain
src/v0.4
src/v0.5
src/v0.6
**/vendor

# Ignore TS definition and map files
**/**.d.ts
**/**.d.ts.map

docs/
venv/

*.md
.github/**/*.yml
.golangci.yml
.solhint.json
