**/node_modules/**
**/generated/**
core/
**/dist/**
**/artifacts/**
**/public/**
**/build/**
truffle-config.js
truffle.js
gethload.js

pnpm-lock.yaml
coverage
abi
artifacts
foundry-artifacts
foundry-cache
cache
node_modules
solc
LinkToken.json
typechain
**/vendor
src/v0.8/ccip/**

# Ignore TS definition and map files
**/**.d.ts
**/**.d.ts.map

docs/
venv/

*.md
.github/**/*.yml
.golangci.yml
.solhint.json

src/v0.8/mocks/FunctionsOracleEventsMock.sol
src/v0.8/mocks/FunctionsBillingRegistryEventsMock.sol
