{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },

  "extends": [
    "prettier-standard",
    "plugin:react/recommended"
  ],

  "plugins": [
    "import",
    "prettier",
    "standard",
    "react"
  ],

  "rules": {
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ]
  },

  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },

  "globals": {
    "Promise": true,
    "_": true
  },

  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "no-unused-vars": ["off"],
        "no-undef": ["off"]
      }
    }
  ]
}
