{{range $i, $a := .Datasources}}
{{- $srcNum:=inc $i -}}
// data source {{$srcNum}}
ds{{$srcNum}}_payload [type=bridge name="bridge-{{$a.BridgeName}}" timeout="50s" requestData={{$a.ReqData}}];

ds{{$srcNum}}_benchmark [type=jsonparse path="{{$.ReportFields.Benchmark.ResultPath}}"];
{{end -}}

{{range $i, $a := .Datasources}}
{{- $srcNum:=inc $i -}}
ds{{$srcNum}}_payload -> ds{{$srcNum}}_benchmark -> benchmark_price;
{{end -}}
benchmark_price [type=median allowedFaults={{.AllowedFaults}} index=0];
