# An example template that you can use for your own .env file for integration test settings
# `source ./integration-tests/.env`

# Test Settings
export CHAINLINK_IMAGE="public.ecr.aws/chainlink/chainlink"
export CHAINLINK_VERSION="1.5.1-root"
export CHAINLINK_ENV_USER="Satoshi-Nakamoto"
export LOG_LEVEL="info" # info | debug | trace

# Slack Notification Settings
export SLACK_API_KEY="xoxb-example-key"
export SLACK_CHANNEL="C000000000"
export SLACK_USER="U000000000"

# Private Key
export EVM_PRIVATE_KEYS="private,funding,keys"
export EVM_URLS="wss://evm.url,wss://other.url"