# Config files
.solhint*
.prettierrc
.eslintrc
hardhat.config.ts

# Documentation
CHANGELOG.md
README.md

# Build artifacts
cache/
artifacts/
typechain/
coverage/

# Changesets
.changeset/

# Development
test/
scripts/
mock/

# Package management
package.json
pnpm-lock.yaml
node_modules/

# Git
.gitignore
