{
    "AlphaPPB": 10000000,
    "DeltaC": "120s",
    "DeltaGrace": "10s",
    "DeltaProgress": "45s",
    "DeltaStage": "30s",
    "DeltaResend": "10s",
    "DeltaRound": "20s",
    "RMax": 4,
    "OracleIdentities": [
        {
            "TransmitAddress": "0x41281755F432CfB23B7116A57383FF540eb60e46",
            "OnchainSigningAddress": "0xd4a8faf9b81369b4c1d975bd0a4003dae8b217f9",
            "PeerID": "12D3KooWH2KZG52vJ1vdgHGRdGXo1aQaHBNtHaWNtZKmeghuhJbD",
            "OffchainPublicKey": "dFSPBP1yjneV9CXII149IIM695UmUOvZhDyECADabdc=",
            "ConfigPublicKey": "14358cae19097f86bdcb7e15ee1fcc8e66a78e27b378a361cf3f0a8ca1ac8356"
        },
        {
            "TransmitAddress": "0x3700858f9CD90C161ab03E6e9f57f04C0Ce24AbF",
            "OnchainSigningAddress": "0xecd057fd131610025a0dcad5efd88e7e0328ae0a",
            "PeerID": "12D3KooWFWyDRbiFtySqfX4EA9HMQ9tmwRHzZqzCZbGZBP985FRi",
            "OffchainPublicKey": "rYc0boIaPYmFtsOl52sgCvsqymFyhmKUFZWZTL5NrTA=",
            "ConfigPublicKey": "48d1120a09f0d3eb3209f322329c92667f9fe8909823f5b91d6aecd10a580655"
        },
        {
            "TransmitAddress": "0xfb9eA93a4CE38529244a2e134d91B130BEd4a745",
            "OnchainSigningAddress": "0x644aee3879157cf4dfce019a84dcaa5c876a25b7",
            "PeerID": "12D3KooWHRLKhr3VVggvXtv29EYakr2rb2pTfKn17WiAEkjz12vd",
            "OffchainPublicKey": "E/nHLM4w74UUOAHo3vAbRXblymkFAHa0roTybZHCgqk=",
            "ConfigPublicKey": "49ec837d9c6c1f32b62a5ba85a3f4e5e72de44479fed7b041653d3431a022308"
        },
        {
            "TransmitAddress": "0xCEB1707AcbeE52bCE1F36cA2780148E38AB6a085",
            "OnchainSigningAddress": "0xc63008cf7974fbd981c9f0cc2f80443f44f06af8",
            "PeerID": "12D3KooWPei4aMsM41wfRzA334bAZYRmLhmd9aRCGzRrjHcaZzDt",
            "OffchainPublicKey": "ZSqaDdD6ZLEc0kib8HW2/phfKN4Eq1pYDe36n1VYzgg=",
            "ConfigPublicKey": "4b12ab7db520bac4312e9a0f87a262d7f7d29d119cf7e4e216b4893f924cef66"
        }
    ]
}