version: '3.1'

services:
  node:
    environment:
      - ETH_CHAIN_ID=1337
    depends_on:
      - devnet
  devnet:
    build: ../gethnet
    container_name: geth
    image: smartcontract/gethnet
    ports:
      - 8545:8545
    volumes:
      - geth-db-data:/gethnet/datadir/geth
    secrets:
      - node_password
volumes:
  geth-db-data:
