name: 'Build Publish Chainlink'

on:
  push:
    branches:
      - 'release/**'

jobs:

  build-publish-chainlink:
    runs-on: buildjet-2vcpu-ubuntu-2004
    environment: build-publish
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
          with:
            role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
            aws-region: ${{ secrets.AWS_REGION }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Public ECR
        uses: docker/login-action@v1
        with:
          registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
      - name: Build and push root docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: smartcontract/chainlink:gha
      - name: 'Docker build'
        run: |
          DOCKER_TAG=gha BUILDER="${AWS_ECR_URL}/builder" make docker
      - name: Build and push non-root docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: smartcontract/chainlink:gha-nonroot
      - name: 'Docker build non-root'
        run: |
          DOCKER_TAG=gha-nonroot CHAINLINK_USER=chainlink make docker
