#
# This action checks PRs to see if any changeset files were added in the PR core files were changed.
# If none were, it will add a comment in the PR to run changeset command to generate a changeset file.
#
name: Changeset

on: pull_request

jobs:
  changeset:
    # For security reasons, GITHUB_TOKEN is read-only on forks, so we cannot leave comments on PRs.
    # This check skips the job if it is detected we are running on a fork.
    if: ${{ github.event.pull_request.head.repo.full_name == 'smartcontractkit/chainlink' }}
    name: Changeset checker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: files-changed
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          predicate-quantifier: every
          filters: |
            shared:
              - common/**
              - '!common/**/*_test.go'
              - plugins/**
              - '!plugins/**/*_test.go'
            core:
              - core/**
              - '!core/**/*_test.go'
              - '!core/**/*.md'
              - '!core/**/*.json'
              - '!core/chainlink.goreleaser.Dockerfile'
              - '!core/chainlink.Dockerfile'
            core-changeset:
              - added: '.changeset/**'
      - name: Make a comment
        uses: unsplash/comment-on-pr@ffe8f97ccc63ce12c3c23c6885b169db67958d3b # v1.3.0
        if: ${{ (steps.files-changed.outputs.core == 'true' || steps.files-changed.outputs.shared == 'true') && steps.files-changed.outputs.core-changeset == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: "I see you updated files related to core. Please run `pnpm changeset` to add a changeset."
          check_for_duplicate_msg: true
      - name: Check for new changeset
        if: ${{ (steps.files-changed.outputs.core == 'true' || steps.files-changed.outputs.shared == 'true') && steps.files-changed.outputs.core-changeset == 'false' }}
        shell: bash
        run: |
          echo "Please run pnpm changeset to add a changeset."
          exit 1
      - name: Collect Metrics
        if: always()
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@0281b09807758be1dcc41651e44e62b353808c47 # v2.1.0
        with:
          org-id: ${{ secrets.GRAFANA_INTERNAL_TENANT_ID }}
          basic-auth: ${{ secrets.GRAFANA_INTERNAL_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_INTERNAL_HOST }}
          this-job-name: Changeset checker
        continue-on-error: true
