name: Integration Tests
on:
  pull_request:
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changes.outputs.src }}
    steps:
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - '**/*.go'
  build-chainlink:
    environment: integration
    name: Build Chainlink Image
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 3600
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: core/chainlink.Dockerfile
          # comma separated like: KEY1=VAL1,KEY2=VAL2,...
          build-args: COMMIT_SHA=${{ github.sha }}
          tags: 795953128386.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/chainlink:latest.${{ github.sha }}
          push: true
  smoke:
    environment: integration
    name: ETH Smoke Tests
    runs-on: ubuntu-latest
    needs: [changes, build-chainlink]
    if: ${{ needs.changes.outputs.src == 'true' }}
    env:
      CHAINLINK_IMAGE: 795953128386.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/chainlink
      CHAINLINK_VERSION: latest.${{ github.sha }}
      CGO_ENABLED: 0
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: 1.18
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 3600
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Set Kubernetes Context
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}
      - name: Cache Vendor Packages
        uses: actions/cache@v2
        id: cache-packages
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Download Go Vendor Packages
        if: steps.cache-packages.outputs.cache-hit != 'true'
        run: go mod download
      - name: Install Ginkgo CLI
        run: go install github.com/onsi/ginkgo/v2/ginkgo@v2.1.3
      - name: Run Tests
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          make test_smoke args="-nodes=6"
      - name: Publish Test Results
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: './tests-smoke-report.xml'
          check_name: 'Smoke Test Results'
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: eth-test-logs
          path: ./integration-tests/logs

  solana:
    name: Solana Tests
    needs: [changes, build-chainlink]
    if: ${{ needs.changes.outputs.src == 'true' }}
    uses: smartcontractkit/chainlink-solana/.github/workflows/e2e.yml@develop
    with:
      repo_name: smartcontractkit/chainlink-solana
      ref: develop
      cl_repo: 795953128386.dkr.ecr.us-west-2.amazonaws.com/chainlink
      cl_image: latest.${{ github.sha }}
    secrets:
      QA_AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      QA_AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      QA_AWS_REGION: ${{ secrets.AWS_REGION }}
      QA_AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      QA_KUBECONFIG: ${{ secrets.KUBECONFIG }}

  terra:
    name: Terra Tests
    needs: [changes, build-chainlink]
    if: ${{ needs.changes.outputs.src == 'true' }}
    uses: smartcontractkit/chainlink-terra/.github/workflows/e2e.yml@main
    with:
      repo_name: smartcontractkit/chainlink-terra
      ref: develop
      cl_repo: 795953128386.dkr.ecr.us-west-2.amazonaws.com/chainlink
      cl_image: latest.${{ github.sha }}
    secrets:
      QA_AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      QA_AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      QA_AWS_REGION: ${{ secrets.AWS_REGION }}
      QA_AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      QA_KUBECONFIG: ${{ secrets.KUBECONFIG }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
