name: Integration Tests
on:
  pull_request:

# Only run 1 of this workflow at a time per PR
concurrency:
  group: integration-tests-chainlink-${{ github.ref }}
  cancel-in-progress: true

env:
  CL_ECR: ${{ secrets.QA_AWS_ACCOUNT_NUMBER }}.dkr.ecr.${{ secrets.QA_AWS_REGION }}.amazonaws.com/chainlink
  ENV_JOB_IMAGE: ${{ secrets.QA_AWS_ACCOUNT_NUMBER }}.dkr.ecr.${{ secrets.QA_AWS_REGION }}.amazonaws.com/chainlink-tests:ci.${{ github.sha }}

jobs:
  changes:
    environment: integration
    name: Check Paths That Require Tests To Run
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Check Paths That Require Tests To Run
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        id: changes
        with:
          filters: |
            src:
              - '**/*.go'
              - '**/*go.sum'
              - '**/*go.mod'
              - '.github/workflows/integration-tests.yml'
    outputs:
      src: ${{ steps.changes.outputs.src }}

  # build-chainlink:
  #   environment: integration
  #   permissions:
  #     id-token: write
  #     contents: read
  #   name: Build Chainlink Image
  #   runs-on: ubuntu20.04-16cores-64GB
  #   needs: [changes]
  #   steps:
  #     - name: Collect Metrics
  #       id: collect-gha-metrics
  #       uses: smartcontractkit/push-gha-metrics-action@v1
  #       with:
  #         basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
  #         hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
  #         this-job-name: Build Chainlink Image
  #       continue-on-error: true
  #     - name: Checkout the repo
  #       uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
  #       with:
  #         ref: ${{ github.event.pull_request.head.sha }}
  #     - name: Build Image
  #       if: needs.changes.outputs.src == 'true'
  #       uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/build-image@1533bff48f8a642089705dcc2dbebb0934ff7d9d # v2.0.26
  #       with:
  #         cl_repo: smartcontractkit/chainlink
  #         cl_ref: ${{ github.sha }}
  #         push_tag: ${{ env.CL_ECR }}:latest.${{ github.sha }}
  #         QA_AWS_REGION: ${{ secrets.QA_AWS_REGION }}
  #         QA_AWS_ROLE_TO_ASSUME: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}

  build-test-image:
    environment: integration
    permissions:
      id-token: write
      contents: read
    name: Build Test Image
    runs-on: ubuntu20.04-16cores-64GB
    needs: [changes]
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Build Test Image
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: smartcontractkit/tool-versions-to-env-action@v1.0.8
        id: tool-versions
      - name: build test runner
        uses: smartcontractkit/chainlink-github-actions/docker/build-push@cb4a8f51d77cbf77ea6a765bd1f437ffc7a18730 # v2.0.28
        with:
          tags: ${{ env.ENV_JOB_IMAGE }}
          file: ./integration-tests/test.Dockerfile
          build-args: |
            BASE_IMAGE=${{ secrets.QA_AWS_ACCOUNT_NUMBER }}.dkr.ecr.${{ secrets.QA_AWS_REGION }}.amazonaws.com/test-base-image:v5.0
            SUITES=./integration-tests/smoke
            GINKGO_VERSION=${{ steps.tool-versions.outputs.ginkgo_version }}
          AWS_REGION: ${{ secrets.QA_AWS_REGION }}
          AWS_ROLE_TO_ASSUME: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}

  eth-smoke-tests-matrix:
    environment: integration
    permissions:
      checks: write
      pull-requests: write
      id-token: write
      contents: read
    name: ETH Smoke Tests Matrix
    needs: [changes, build-test-image] #[build-chainlink, changes, build-test-image]
    env:
      SELECTED_NETWORKS: SIMULATED
      CHAINLINK_COMMIT_SHA: ${{ github.sha }}
      CHAINLINK_ENV_USER: ${{ github.actor }}
      TEST_TRIGGERED_BY: core-CI-eth
      TEST_LOG_LEVEL: debug
    strategy:
      fail-fast: false
      matrix:
        product:
          # - name: automation
          # - nodes: 9
          #   os: ubuntu-latest
          # - name: cron
          #   nodes: 1
          #   os: ubuntu-latest
          # - name: flux
          #   nodes: 1
          #   os: ubuntu-latest
          # - name: keeperv1.1
          #   nodes: 6
          #   os: ubuntu-latest
          # - name: keeperv1.2
          #   nodes: 10
          #   os: ubuntu-latest
          # - name: keeperv1.3
          #   nodes: 11
          #   os: ubuntu-latest
          # - name: ocr
          #   nodes: 3
          #   os: ubuntu-latest
          # - name: runlog
          #   nodes: 1
          #   os: ubuntu-latest
          # - name: vrf
          #   nodes: 1
          #   os: ubuntu-latest
          - name: v2vrf
            nodes: 1
            os: ubuntu20.04-8cores-32GB
    runs-on: ${{ matrix.product.os }}
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: ETH Smoke Tests Matrix (${{ matrix.product.name }}, ${{ matrix.product.nodes }}, ${{ matrix.product.os }})
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      
      ## Run this step when changes that require tests to be run are made
      - name: Run Tests
        if: needs.changes.outputs.src == 'true'
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/run-tests@cb4a8f51d77cbf77ea6a765bd1f437ffc7a18730 # v2.0.28
        env:
          TEST_SUITE: ./integration-tests/smoke
          TEST_ARGS: --focus @${{ matrix.product.name }}
          CHAINLINK_IMAGE: ${{ env.CL_ECR }}
          CHAINLINK_VERSION: latest.0f1d5b5b819b3944fdfe9c865628ff2a1d0605ca #latest.${{ github.sha }}
        with:
          test_command_to_run: make test_smoke_simulated args="-nodes=${{ matrix.product.nodes }} --focus @${{ matrix.product.name }}"
          test_download_vendor_packages_command: make gomod
          test_download_ginkgo_command: make test_install_ginkgo
          cl_repo: ${{ env.CHAINLINK_IMAGE }}
          cl_image_tag: ${{ env.CHAINLINK_VERSION }}
          artifacts_location: ./integration-tests/smoke/logs
          publish_check_name: EVM Smoke Test Results ${{ matrix.product.name }}
          triggered_by: ${{ env.TEST_TRIGGERED_BY }}-${{ matrix.product.name }}
          go_mod_path: ./integration-tests/go.mod
          QA_AWS_REGION: ${{ secrets.QA_AWS_REGION }}
          QA_AWS_ROLE_TO_ASSUME: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}
          QA_KUBECONFIG: ${{ secrets.QA_KUBECONFIG }}

      ## Run this step when changes that do not need the test to run are made
      - name: Run Setup
        if: needs.changes.outputs.src == 'false'
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/setup-run-tests-environment@cb4a8f51d77cbf77ea6a765bd1f437ffc7a18730 # v2.0.28
        with:
          test_download_vendor_packages_command: make gomod
          test_download_ginkgo_command: make test_install_ginkgo
          go_mod_path: ./integration-tests/go.mod
          QA_AWS_REGION: ${{ secrets.QA_AWS_REGION }}
          QA_AWS_ROLE_TO_ASSUME: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}
          QA_KUBECONFIG: ${{ secrets.QA_KUBECONFIG }}

      ## Run Cleanup regardless
      - name: cleanup
        if: always()
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/cleanup@cb4a8f51d77cbf77ea6a765bd1f437ffc7a18730 # v2.0.28
        with:
          triggered_by: ${{ env.TEST_TRIGGERED_BY }}-${{ matrix.product.name }}
  
  ### Used to check the required checks box when the matrix completes
  eth-smoke-tests:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: ETH Smoke Tests
    needs: eth-smoke-tests-matrix
    steps:
      - name: Check smoke test matrix status
        if: ${{ needs.eth-smoke-tests-matrix.result != 'success' }}
        run: exit 1

  # ### Solana Section
  # get_projectserum_version:
  #   name: Get ProjectSerum Version
  #   environment: integration
  #   runs-on: ubuntu-latest
  #   outputs:
  #     projectserum_version: ${{ steps.psversion.outputs.projectserum_version }}
  #   steps:
  #     - name: Checkout the solana repo
  #       uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
  #       with:
  #         repository: smartcontractkit/chainlink-solana
  #         ref: ${{ env.solana_sha }}
  #     - name: Get ProjectSerum Version
  #       id: psversion
  #       uses: smartcontractkit/chainlink-solana/.github/actions/projectserum_version@4b971869e26b79c7ce3fb7c98005cc2e3f350915 # stable action on Oct 12 2022
  # solana-build-contracts:
  #   environment: integration
  #   permissions:
  #     checks: write
  #     pull-requests: write
  #     id-token: write
  #     contents: read
  #   name: Solana Build Artifacts
  #   runs-on: ubuntu20.04-16cores-64GB
  #   needs: [changes, get_projectserum_version]
  #   container:
  #     image: projectserum/build:${{ needs.get_projectserum_version.outputs.projectserum_version }}
  #     env:
  #       RUSTUP_HOME: "/root/.rustup"
  #       FORCE_COLOR: 1
  #   steps:
  #     - name: Collect Metrics
  #       id: collect-gha-metrics
  #       uses: smartcontractkit/push-gha-metrics-action@v1
  #       with:
  #         basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
  #         hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
  #         this-job-name: Solana Build Artifacts
  #       continue-on-error: true
  #     - name: Checkout the solana repo
  #       uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
  #       with:
  #         repository: smartcontractkit/chainlink-solana
  #         ref: ${{ env.solana_sha }}
  #     - name: Build contracts
  #       if: needs.changes.outputs.src == 'true'
  #       uses: smartcontractkit/chainlink-solana/.github/actions/build_contract_artifacts@4b971869e26b79c7ce3fb7c98005cc2e3f350915 # stable action on Oct 12 2022
  #       with:
  #         ref: ${{ env.solana_sha }}

  # solana-smoke-tests:
  #   environment: integration
  #   permissions:
  #     checks: write
  #     pull-requests: write
  #     id-token: write
  #     contents: read
  #   name: Solana Smoke Tests
  #   runs-on: ubuntu20.04-8cores-32GB
  #   needs: [build-chainlink, solana-build-contracts, changes]
  #   env:
  #     CHAINLINK_COMMIT_SHA: ${{ github.sha }}
  #     CHAINLINK_ENV_USER: ${{ github.actor }}
  #     TEST_TRIGGERED_BY: core-CI-solana
  #     TEST_LOG_LEVEL: debug
  #   steps:
  #     - name: Collect Metrics
  #       id: collect-gha-metrics
  #       uses: smartcontractkit/push-gha-metrics-action@v1
  #       with:
  #         basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
  #         hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
  #         this-job-name: Solana Smoke Tests
  #       continue-on-error: true
  #     - name: Checkout the repo
  #       uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
  #       with:
  #         repository: smartcontractkit/chainlink-solana
  #         ref: ${{ env.solana_sha }}
  #     - name: Run Tests
  #       if: needs.changes.outputs.src == 'true'
  #       uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/run-tests@cb4a8f51d77cbf77ea6a765bd1f437ffc7a18730 # v2.0.28
  #       with:
  #         test_command_to_run: make test_smoke
  #         cl_repo: ${{ env.CL_ECR }}
  #         cl_image_tag: latest.${{ github.sha }}
  #         download_contract_artifacts_path: contracts/target/deploy
  #         artifacts_location: /home/runner/work/chainlink/chainlink/tests/e2e/smoke/logs
  #         publish_check_name: Solana Smoke Test Results
  #         triggered_by: ${{ env.TEST_TRIGGERED_BY }}
  #         go_mod_path: ./tests/go.mod
  #         QA_AWS_REGION: ${{ secrets.QA_AWS_REGION }}
  #         QA_AWS_ROLE_TO_ASSUME: ${{ secrets.QA_AWS_ROLE_TO_ASSUME }}
  #         QA_KUBECONFIG: ${{ secrets.QA_KUBECONFIG }}
  #     - name: cleanup
  #       if: always()
  #       uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/cleanup@cb4a8f51d77cbf77ea6a765bd1f437ffc7a18730 # v2.0.28
  #       with:
  #         triggered_by: ${{ env.TEST_TRIGGERED_BY }}

  ### End Solana Section
