name: Solidity

on:
  push:

env:
  NODE_OPTIONS: --max_old_space_size=5120

jobs:
  shard-tests:
    name: Shard Solidity Tests
    runs-on: ubuntu-latest
    outputs:
      shards: ${{ steps.shard.outputs.shards }}
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Shard Solidity Tests
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Generate shards
        uses: ./.github/actions/shard-packages
        with:
          config: ./contracts/ci.json
        id: shard

  solidity-coverage-shards:
    needs: [shard-tests]
    name: Solidity Coverage ${{ matrix.shard.id }}
    strategy:
      fail-fast: false
      matrix:
        shard: ${{ fromJson(needs.shard-tests.outputs.shards) }}
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Solidity Coverage ${{ matrix.shard.id }}
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs
      - name: Setup Hardhat
        uses: ./.github/actions/setup-hardhat
        with:
          namespace: coverage
      - name: Run coverage
        env:
          SHARD: ${{ matrix.shard.coverageTests }}
        shell: bash
        run: pnpm coverage --testfiles "$SHARD"
        working-directory: contracts
      - name: Push coverage
        run: ./tools/bin/codecov -f ./contracts/coverage.json
      - name: Rename coverage
        run: mv ./contracts/coverage.json ./contracts/coverage-${{ matrix.shard.idx }}
      - name: Upload coverage
        uses: actions/upload-artifact@v3
        with:
          name: solidity-coverage-${{ matrix.shard.idx }}
          path: ./contracts/coverage-${{ matrix.shard.idx }}.json

  solidity-coverage:
    needs: [solidity-coverage-shards]
    name: Solidity Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs
      - name: Make coverage directory
        run: mkdir ./contracts/coverage-reports
      - name: Download coverage
        uses: actions/download-artifacts@v3
        with:
          path: ./contracts/coverage-reports
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: contracts
      - name: Generate merged report
        run: pnpm istanbul report text text-summary
        working-directory: contracts

  solidity-shards:
    needs: [shard-tests]
    name: Solidity ${{ matrix.shard.id }}
    strategy:
      fail-fast: false
      matrix:
        shard: ${{ fromJson(needs.shard-tests.outputs.shards) }}
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Solidity ${{ matrix.shard.id }}
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs
      - name: Setup Hardhat
        uses: ./.github/actions/setup-hardhat
        with:
          namespace: coverage
      - name: Run tests
        env:
          SHARD: ${{ matrix.shard.tests }}
        working-directory: contracts
        run: pnpm test -- $SHARD

  solidity:
    needs: [solidity-shards]
    name: Solidity
    runs-on: ubuntu-latest
    steps:
      - run: echo 'Solidity tests finished!'

  prepublish-test:
    name: Prepublish Test
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Prepublish Test
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs
      - name: Run Prepublish test
        working-directory: contracts
        run: pnpm prepublishOnly

  native-compile:
    name: Native Compilation
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Native Compilation
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs
        with:
          prod: "true"
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Run native compile and generate wrappers
        run: make go-solidity-wrappers
      - name: Verify local solc binaries
        run: ./tools/ci/check_solc_hashes
      - name: Display git diff
        run: git diff --minimal

  lint:
    defaults:
      run:
        working-directory: contracts
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Lint
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs
      - name: Run pnpm lint
        run: pnpm lint

  prettier:
    defaults:
      run:
        working-directory: contracts
    name: Prettier Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v1
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Prettier Formatting
        continue-on-error: true
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: ./.github/actions/setup-nodejs
      - name: Run prettier check
        run: pnpm prettier:check
